<div class="overflowcontent">
<h1>Abstracts</h1>

<p> Gleeson, P., S. Crook, S. Barnes and R.A. Silver (2008) 
<a href="http://frontiersin.org/conferences/individual_abstract_listing.php?conferid=2&pap=491&ind_abs=1&pg=5">
Interoperable model components for biologically
realistic single neuron and network models implemented in NeuroML.</a>
<em>Frontiers in Neuroinformatics. Conference Abstract: Neuroinformatics 2008.</em> doi: 10.3389/conf.neuro.11.2008.01.135.

<p> Larson, S. and M. Martone (2008) <a href="http://frontiersin.org/conferences/individual_abstract_listing.php?conferid=2&pap=490&ind_abs=1">
A spatial framework for multi-scale 
computational neuroanatomy.</a> <em>Frontiers in Neuroinformatics. Conference Abstract: Neuroinformatics 2008.</em> doi: 10.3389/conf.neuro.11.2008.01.134.

<p>Crook, S., P. Gleeson and R.A. Silver (2007) 
NetworkML: Level 3 of the NeuroML standards for multiscale model specification and 
exchange. Society for Neuroscience Abstracts. 102.28.

<p>Gleeson, P., S. Crook, V. Steuber and R.A. Silver (2007) 
<a href="http://www.biomedcentral.com/1471-2202/8/S2/P1">
Using NeuroML and neuroConstruct to build neuronal network models for multiple 
simulators</a>. BMC Neuroscience. 8(2):P101.
</div>
