<div>
<img src="../images/alpha.png" style="float:right;" />
NeuroML v2alpha Schema

A draft specification for NeuroML v2alpha has been created. The working structure of NeuroML v2alpha is defined by a single XML Schema file: NeuroML_v2alpha.xsd.

Most of the work listed below aims to handle XML files valid according to this schema. This should be the target structure for anyone wishing to implement NeuroML 2 support at this stage.

NeuroML v2alpha structure

This image shows some of the elements currently defined in NeuroML v2alpha. The overall structure is similar to NeuroML version 1.x Level 3 (see figures 4-6 here). Note that there are a greater range of cell models supported (e.g. Izhikevich spiking cell, adaptive exponential integrate & fire) in addition to the multicompartmental conductance based models which were a focus of version 1.x.
</div>
