<div class="overflowcontent">
The members of the <a href ="scientific_committee">Scientific Committee</a> oversee the scientific focus and technical implementation 
of NeuroML, set the scope of the language and promote NeuroML internationally. 



<br>
<br>
<h1>Contributors</h1>

There is a growing list of people who have contributed to the development of the NeuroML Specifications. 
If we missed you, please let us know! Thank you everyone for your generous contributions over the
past few years.<br>
<br>
Dave Beeman, 
Upi Bhalla, 
Robert Cannon, 
Hugo Cornelis, 
Andrew Davison, 
Nicolas Debeissat, 
Nigel Goddard, 
Michael Hines, 
Fred Howell, 
Michael Hucka, 
Tom Morse, 
Weihong Qi, 
Mike Schachter, 
Kavita Shankar, 
Joseph Svitak
<br>
<br>
Special thanks to Sushil Kambampati, Greg Golden, and Nicola McDonnell for their contributions to technical issues.<br>
<br>
Also, thank you to Gwen Jacobs, Laszlo Zaborszky, and Zoltan Nadasdy for their thoughtful suggestions regarding neuroanatomical descriptions.<br>
<br>

Thank you to everyone who attended the <a href="workshop2009">1st official NeuroML Development Workshop</a> for their valuable contributions: Georgio Ascoli, Dave Beeman,
Sandra Berger, Guy Billings, Avrama Blackwell, Hugo Cornelis, 
Erik De Schutter, Andrew Davison, Lyle Graham, Sean Hill, 
Michael Hines, Nicolas De Nov&egrave;re, Nathan Lepora, Henrik Lind&eacute;n, 
Michele Mattioni, Ivan Raikov, Subhasis Ray, Arnd Roth, and Koen Vervaeke. Organizers were Robert Cannon, Sharon Crook, Padraig Gleeson, and Angus Silver.<br>
<br>

Thanks also to the participants in the <a href="http://math.la.asu.edu/~cans/workshop.html">2010 NeuroML Development Workshop</a>: Murat Alp, Guy Billings, Avrama Blackwell, Upi Bhalla, Ted Carnevale, Robert Cannon, 
Hugo Cornelis, Sharon Crook, Andrew Davison, Suzanne Dietrich, Padraig Gleeson, Mike Hucka, Stephen Larson, Henrik Linden, Michele Mattioni, Alfredo Rodriguez,
and Angus Silver.<br/><br/>

We appreciate the contribution of the attendees of the <a href="workshop2011">2011 NeuroML Development Workshop</a>: 


Andrew Davison,
Egidio D'Angelo, 
Angus Silver, 
Arnd Roth, 
Avrama Blackwell, 
Chao Zhang, 
Dave Lester, 
Dieter Jaeger, 
Eugenio Piasini, 
Giorgio Ascoli,
Giovanni Idili, 
Guy Billings, 
Henrik Lind&eacute;n, 
Hermann Cuntz, 
Hugo Cornelis, 
Volker Steuber, 
Lyle J. Graham, 
Malin Sandstr&#246;m, 
Matteo Cantarelli, 
Matteo Farinella, 
Michael Hines, 
Michele Mattioni, 
Mike Hucka, 
Paul Richmond, 
Padraig Gleeson, 
Andrew D. Brown, 
Robert Cannon, 
Roger D Traub, 
Sarah Keating, 
Sergio Solinas, 
Sharon Crook, 
Stephen Larson, 
Subu Sathyaa and
Upinder Bhalla.
</div>
