       <!-- ============================== Slidorion Content ========================= -->
        <div id="slidorion">
		<div id="accordion">
			<div class="link-header">Our Mission</div>
			<div class="link-content">

<p>
Mission basic content
</p>

			</div>


<div class="link-header">Introduction</div>
			<div class="link-content">
			Introduction Basic content

			</div>


			<div class="link-header">Featured Model</div>
			<div class="link-content">
			<p>Featured Model basic content.</p>
			</div>
<div class="link-header">Featured Tool</div>
			<div class="link-content">
			<p>Featured Tool basic content.</p>
			</div>
			<div class="link-header">News and Events</div>
			<div class="link-content">
				<p>Need Description about news and events ?????</p>

			</div>
		</div>
		<div id="slider">
			<div id="slide1" class="slide">
				<div class="content_slide">
<body>

			<h1 class="text_center h1_properties">Model Descriptions for Computational Neuroscience</h1>
		
			<p>
			Computational models based on detailed neuroanatomical and electrophysiological data have been used for many years as an aid for understanding the function of the nervous system. NeuroML is an international, collaborative initiative to develop a language for describing detailed models of neural systems.
</p>
			The aims of the NeuroML initiative are:
		<ul>
			<li>
				To create specifications for an XML-based language that describes the biophysics, anatomy and network architecture of neuronal systems at multiple scales,</li>
		</ul>
		
		<ul>
			<li>
				To facilitate the exchange of complex neuronal models between researchers, allowing for greater transparency and accessibility of models,</li>
		</ul>
		
		<ul>
			<li>
				To promote software tools which support NeuroML and support the development of new software and databases for neural modeling, and</li>
		</ul>
		
		<ul>
			<li>
				To encourage researchers with models within the scope of NeuroML to exchange and publish their models in this format.</li>
		</ul>
		<p>
			<br />
			<br />
			NeuroML is a free and open community effort that needs your support as the language and tools continue to evolve. Register here to be added to the NeuroML mailing list.</p>
	
			</div>
			</div>
<div id="slide2" class="slide">
<div class="content_slide">
<p>Introduction Main content</p>
</div>
</div>
			<div id="slide3" class="slide">
				<div class="content_slide">Developments towards NeuroML version 2.0 are well under way, but version 1.8.x should be considered the stable version for now, especially for application/model developers who want maximum compatibility with other tools.

For details of the meetings which have taken place to date where NeuroML v2.0 has been discussed see here.
<br />
<img src="../images/mont.png" alt="mont" />
<br/>
 A pyramidal cell model in NeuroML which has been loaded into and visualised by (from left): neuroConstruct, NEURON, PSICS, X3D via the NeuroML Validator and NeuronLand. More details on NeuroML compliant software can be found here.
<br/>
<img src="../images/nets.png" alt="nets" />
<br />
 A network model of the cerebellar granule cell layer which can be fully expressed as a Level 3 NeuroML file. Visualised in the Whole Brain Catalog (left), and neuroConstruct (right). This and other detailed cell and network models are available for download here.


</div>
			</div>
<div id="slide4" class="slide">
<div class="content_slide">
<p><strong>feaured tool main content</strong></p>
</div>
</div>
			<div id="slide5" class="slide">
				<div class="content_slide">
<br>
<ul>

    <li>March 12-16, 2012: The fourth annual <b>NeuroML Development Workshop</b> took place at the Informatics Forum in Edinburgh, UK. The NeuroML workshop was combined with the
    <a href="http://brainscales.kip.uni-heidelberg.de/">BrainScales</a> (previously FACETS) <b>CodeJam</b> meeting.
    More details can be found <a href="workshop2012.php">here</a>.</li><br>

    <li>March 31st & April 1st, 2011: The third annual <b>NeuroML Development Workshop</b> took place in London. Minutes for this meeting can be found
    <a href="workshop2011.php">here</a>. A key outcome of the meeting was the creation of a <a href="contacts.php">Scientific Committee</a> for NeuroML. </li><br>

<li>June 17, 2010:<a name="NeuroMLPaper"> </a>A paper describing the latest stable version of NeuroML has been
published in PLoS Computational Biology: <b>NeuroML: A Language for Describing Data Driven Models of Neurons and
Networks with a High Degree of Biological Detail, P Gleeson, S Crook, RC Cannon, ML Hines, GO Billings, M Farinella, TM Morse, AP Davison,
S Ray, US Bhalla, SR Barnes, YD Dimitrova,
RA Silver</b>. It can be downloaded <a
 href="http://www.ploscompbiol.org/article/info%3Adoi%2F10.1371%2Fjournal.pcbi.1000815">here</a> and it describes in detail the structure of version 1.x (Levels 1-3,
MorphML, ChannelML, NetworkML), includes a detailed discussion of the elements
present at each level along with example NeuroML code (see the <a href="http://www.ploscompbiol.org/article/fetchSingleRepresentation.action?uri=info:doi/10.1371/journal.pcbi.1000815.s001">supporting text</a>
of the paper), outlines current simulator support,
and presents a number of new cell and network models which have recently been
converted to the format.
These new models, including a morphologically detailed CA1 pyramidal
cell and a number of cells from the Traub et al. 2005 thalamocortical
network model are available here: <a 
 href="http://www.neuroml.org/models">http://www.neuroml.org/models</a>.</li><br>

<li> May 19, 2010: A second joint <b>NeuroML and SBML</b> meeting was held at the <a href="http://www.ebi.ac.uk">European Bioinformatics Institute</a>, Hinxton, UK between contributors to
    both of these initiatives. Discussions centered on the extensions needed in NeuroML version 2.0 to allow access to model elements specified in SBML and other model description languages.
    Minutes of the meeting are available <a href="files/NeuroMLSBML_May2010.pdf">here</a> and more details of the agenda items can be found
    <a href="http://sbml.org/Events/Other_Events/SBML-NeuroML_interfaces_mini-workshop_2010">here</a>.</li><br>

<li> March 4-5, 2010: The second <b>NeuroML Development Workshop</b> was held in Arizona State University to plan for
version 2.0 of the NeuroML model description language. More details about the workshop are available <a href="http://math.la.asu.edu/~cans/workshop.html">here</a>.
For the meeting minutes, see the 2010 <a href="files/NeuroMLWorkshop2010.pdf">workshop report</a>.
There was also a Symposium on <a href="http://math.la.asu.edu/~cans/index.html">Multiscale Approaches to Understanding Neural Plasticity</a>
held at ASU before the main meeting and a number of <a href="http://math.la.asu.edu/~cans/tutorials.html">tutorials on software for multiscale modeling</a> given by the meeting participants on the following day.</li>
<br>


<li> October 7, 2009: A meeting was held at the <a href="http://www.ebi.ac.uk">European Bioinformatics Institute</a>, Hinxton, UK between contributors to the <b>NeuroML and SBML</b> initiatives
to discuss scenarios for creation of models incorporating elements from both modelling languages. Minutes of the meeting are available <a href="files/NeuroMLSBML_HinxtonOct09.pdf">here</a>.</li>
<br>

<li> March 9-10, 2009: A
<b>NeuroML Development Workshop</b> was held at University College London. The focus of the
workshop was to refine the specifications for describing models of
channel kinetics and the biophysical properties of cells. Special thanks
to the Wellcome Trust, the INCF, and the NSF for their generous support of this
endeavor. More details are available <a href="spring_workshop.php">here</a>.</li>
<br>
<li> September 7-9, 2008: Padraig Gleeson and Sharon Crook conducted a demo of NeuroML at the <b>1st Congress of the
<a href="http://www.incf.org">International Neuroinformatics Coordinating Facility</a></b> on
<a href="http://www.neuroinformatics2008.org">Neuroinformatics</a> in Stockholm,
Sweden.</li>
<br>
<li>
Padraig Gleeson and Sharon Crook moderated a workshop on "Interoperability of Software for Computational and Experimental
Neuroscience" at the <b>2008 Computational Neuroscience Meeting</b> in Portland, Oregon. For an overview of the speakers and discussion, click
<a href="CNS_workshop.php">here</a>.</li>
<br>
<br>
<br>
<br>
  

</ul>

</div>
			</div>
		</div>
		
		
		
	</div>
	
        <!-- ============================ End of slidorion ============================= -->
 
