
<div class="overflowcontent">
<div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
               <img src="../images/moose0.png" data-thumb="images/nemo.jpg" alt="" title="#model0" data-transition="slideInLeft" />
                <img src="../images/moose1.png" data-thumb="images/nemo.jpg" alt="" title="#model1" data-transition="slideInLeft" />
               <img src="../images/moose2.png" data-thumb="images/nemo.jpg" alt="" title="#model2" data-transition="slideInLeft" />
                <img src="../images/moose3.png" data-thumb="images/nemo.jpg" alt="" title="#model3" data-transition="slideInLeft" />
                <img src="../images/moose4.png" data-thumb="images/nemo.jpg" alt="" title="#model4" data-transition="slideInLeft" />
                <img src="../images/moose5.png" data-thumb="images/nemo.jpg" alt="" title="#model5" data-transition="slideInLeft" />
                <img src="../images/moose6.png" data-thumb="images/nemo.jpg" alt="" title="#model6" data-transition="slideInLeft" />
                <img src="../images/openworm1.jpg" data-thumb="images/nemo.jpg" alt="" title="#model7" data-transition="slideInLeft" />
                <img src="../images/openworm2.png" data-thumb="images/nemo.jpg" alt="" title="#model8" data-transition="slideInLeft" />
            </div>
 <div id="model0" class="nivo-html-caption">
                 <a href="#"><em>Multiscale Modeling with MOOSE</em></a>. 
            </div>
            <div id="model1" class="nivo-html-caption">
<a href="#"><em>Olfactory Bulb Model</em></a>. 
            </div>
<div id="model2" class="nivo-html-caption">
<a href="#"><em>Olfactory Bulb Model: Two Glomeruli</em></a>. 
            </div>
<div id="model3" class="nivo-html-caption">
<a href="#"><em>Simulation of Purkinje Cell Model</em></a>. 
            </div>
<div id="model4" class="nivo-html-caption">
<a href="#"><em>Kinetikit 12: Viewing and Editing a Biochemical Model</em></a>. 
            </div>
<div id="model5" class="nivo-html-caption">
<a href="#"><em>Plotting</em></a>. 
            </div>
<div id="model6" class="nivo-html-caption">
<a href="#"><em>Interoperability and Standards</em></a>. 
            </div>
<div id="model7" class="nivo-html-caption">
<a href="#"><em>Featured Model1</em></a>. 
            </div>
<div id="model8" class="nivo-html-caption">
<a href="#"><em>Featured Model2</em></a>. 
            </div>


        </div>

<div id="boxes">
<div id="box1" class="homebox">
<div class="box_title">
<h2>Our Mission</h2>
</div>
<p>
			Computational models based on detailed neuroanatomical and electrophysiological data have been used for many years as an aid for understanding the function of the nervous system. NeuroML is an international, collaborative initiative to develop a language for describing detailed models of neural systems.
</p>

<h3>The aims of the NeuroML initiative are:</h3>
		<ul>
			<li>
				To create specifications for an XML-based language that describes the biophysics, anatomy and network architecture of neuronal systems at multiple scales,</li>
		
			<li>
				To facilitate the exchange of complex neuronal models between researchers, allowing for greater transparency and accessibility of models,</li>
		
			<li>
				To promote software tools which support NeuroML and support the development of new software and databases for neural modeling, and</li>
		
			<li>
				To encourage researchers with models within the scope of NeuroML to exchange and publish their models in this format.</li>
		</ul>



</div>
<div id="box2" class="homebox">
<div class="box_title">
<h2>Introduction</h2>
<p>
The NeuroML project focuses on the development of an <a href="http://www.w3schools.com/xml/default.asp">XML (eXtensible Markup Language)</a> based description language
that provides a common data format for defining and exchanging descriptions of neuronal cell and network models.
The current approach in the project uses <a href="http://www.w3schools.com/schema/default.asp">XML schemas</a> to define the model specifications.
</p>
</div>
<div class="readmore">
<a href="/introduction" style="text-decoration:none;">Read More</a>
</div>
</div>

<div id="box3" class="homebox">
<div class="box_title">
<h2>News and Events</h2>
</div>


<ul>
<li><a href="#">Fourth annual NeuroML Development Workshop</a></li>
<li><a href="#">Third annual NeuroML Development Workshop</a></li>
<li><a href="#">A paper describing the latest stable version of NeuroML</a></li>
<li><a href="#">Second joint NeuroML and SBML meeting</a></li>
<li><a href="#">Second NeuroML Development Workshop</a></li>
<li><a href="#">First joint NeuroML and SBML meeting</a></li>

</ul>




<div class="readmore">
Read More
</div>
</div>

</div>

<div id="socialmedia">
</div>
    
</div>
