<div class="overflowcontent">
<div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
                <img src="images/toystory.jpg" data-thumb="images/toystory.jpg" alt=""/>
                <a href="#"><img src="images/up.jpg" data-thumb="images/up.jpg" alt="" title="This is an example of a caption"  /></a>
                <img src="../images/walle.jpg" data-thumb="images/walle.jpg" alt="" data-transition="slideInLeft" />
                <img src="../images/nemo.jpg" data-thumb="images/nemo.jpg" alt="" title="#htmlcaption" />
            </div>
            <div id="htmlcaption" class="nivo-html-caption">
                <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>. 
            </div>
        </div>

<div id="boxes">
<div id="box1" class="homebox">
<div class="box_title">
<h2>Our Mission</h2>
<p>
			Computational models based on detailed neuroanatomical and electrophysiological data have been used for many years as an aid for understanding the function of the nervous system. NeuroML is an international, collaborative initiative to develop a language for describing detailed models of neural systems.
</p>
</div>
<div class="readmore">
<a href="/mission" style="text-decoration:none;">Read More</a>
</div>
</div>
<div id="box2" class="homebox">
<div class="box_title">
<h2>Introduction</h2>
<p>
The NeuroML project focuses on the development of an <a href="http://www.w3schools.com/xml/default.asp">XML (eXtensible Markup Language)</a> based description language
that provides a common data format for defining and exchanging descriptions of neuronal cell and network models.
The current approach in the project uses <a href="http://www.w3schools.com/schema/default.asp">XML schemas</a> to define the model specifications.
</p>
</div>
<div class="readmore">
<a href="/introduction" style="text-decoration:none;">Read More</a>
</div>
</div>
<div id="box3" class="homebox">
<div class="box_title">
<h2>Featured Model / Tool</h2>
</div>
<div class="readmore">
Read More
</div>
</div>
<div id="box4" class="homebox">
<div class="box_title">
<h2>News and Events</h2>
</div>
<div class="readmore">
Read More
</div>
</div>

</div>

<div id="socialmedia">
</div>
    
</div>
