<div class="overflowcontent">
<p><h1>Level 3:</h1><br>
<a href="http://dendrite.la.asu.edu/NeuroMLValidator/NeuroMLFiles/Schemata/v1.8.1/Level3/NetworkML_v1.8.1.xsd">NetworkML_v1.8.1.xsd</a><a href="http://neuroml.org/NeuroMLValidator/Latest.jsp?spec=NetworkML"> (Readable)</a><br></p>

<p>Any Level 1, Level 2 or Level 3 NeuroML file will also be compliant to:<br>
<a href="http://dendrite.la.asu.edu/NeuroMLValidator/NeuroMLFiles/Schemata/v1.8.1/Level3/NeuroML_Level3_v1.8.1.xsd">NeuroML_Level3_v1.8.1.xsd</a><a href="http://neuroml.org/NeuroMLValidator/Latest.jsp?spec=Level3"> (Readable)</a><br></p>
<br>



<p>
Check the <a href="http://sourceforge.net/projects/neuroml">NeuroML 
Developers' Site</a> on SourceForge.net for the latest updates and 
news.
</p>
</div>
