<div>
Level 2: ChannelML and biophysical cell models
 	Show HTML	Show XML	Current schema (v1.8.1)	All schemas
KCa_Channel.xml	View	Source	Validate	Validate
CaPool.xml	View	Source	Validate	Validate
NaF2_Chan.xml	View	Source	Validate	Validate
MossyCellBiophys.xml	View	Source	Validate	Validate
SK_KineticScheme.xml	View	Source	Validate	Validate
KChan_KineticScheme.xml	View	Source	Validate	Validate
NaChannel_HH.xml	View	Source	Validate	Validate
InhomogeneousBiophys.xml	View	Source	Validate	Validate
PyramidalCell.xml	View	Source	Validate	Validate
GranuleCell.xml	View	Source	Validate	Validate
KChannel_HH.xml	View	Source	Validate	Validate
Kc_fast_Chan.xml	View	Source	Validate	Validate
CaHVA_Chan.xml	View	Source	Validate	Validate
GateDepQ10.xml	View	Source	Validate	Validate
CellWithChannels.xml	View	Source	Validate	Validate
KA_Channel.xml	View	Source	Validate	Validate
IntFireMechanism.xml	View	Source	Validate	Validate
NaF_Chan.xml	View	Source	Validate	Validate
LeakConductance.xml	View	Source	Validate	Validate
</div>
