<div class="overflowcontent">
<p><h1>Level 2:</h1><br>
<a href="http://dendrite.la.asu.edu/NeuroMLValidator/NeuroMLFiles/Schemata/v1.8.1/Level2/Biophysics_v1.8.1.xsd">Biophysics_v1.8.1.xsd</a><a href="http://neuroml.org/NeuroMLValidator/Latest.jsp?spec=Biophysics"> (Readable)</a><br>
<a href="http://dendrite.la.asu.edu/NeuroMLValidator/NeuroMLFiles/Schemata/v1.8.1/Level2/ChannelML_v1.8.1.xsd">ChannelML_v1.8.1.xsd</a><a href="http://neuroml.org/NeuroMLValidator/Latest.jsp?spec=ChannelML"> (Readable)</a></p>

<p>Any Level 1 or Level 2 NeuroML file will also be compliant to:<br>
<a href="http://dendrite.la.asu.edu/NeuroMLValidator/NeuroMLFiles/Schemata/v1.8.1/Level2/NeuroML_Level2_v1.8.1.xsd">NeuroML_Level2_v1.8.1.xsd</a><a href="http://neuroml.org/NeuroMLValidator/Latest.jsp?spec=Level2"> (Readable)</a><br></p>

</div>
