<div class="overflowcontent">
<p><h1>Level 1:</h1><br>
<a href="http://dendrite.la.asu.edu/NeuroMLValidator/NeuroMLFiles/Schemata/v1.8.1/Level1/Metadata_v1.8.1.xsd">Metadata_v1.8.1.xsd</a> <a href="http://neuroml.org/NeuroMLValidator/Latest.jsp?spec=Metadata"> (Converted to more readable format)</a><br>
<a href="http://dendrite.la.asu.edu/NeuroMLValidator/NeuroMLFiles/Schemata/v1.8.1/Level1/MorphML_v1.8.1.xsd">MorphML_v1.8.1.xsd</a> <a href="http://neuroml.org/NeuroMLValidator/Latest.jsp?spec=MorphML"> (Readable)</a><br></p>

<p>Any Level 1 NeuroML file will also be compliant to:<br>
<a href="http://dendrite.la.asu.edu/NeuroMLValidator/NeuroMLFiles/Schemata/v1.8.1/Level1/NeuroML_Level1_v1.8.1.xsd">NeuroML_Level1_v1.8.1.xsd</a><a href="http://neuroml.org/NeuroMLValidator/Latest.jsp?spec=Level1"> (Readable)</a><br></p>
</div>
