<div>
<img src="../images/libnml.png" />
Java implementation of libNeuroML
libNeuroML (Java implementation) = LEMS Reference Implementation + NeuroML 2 ComponentType definitions + Import & export functionality.

NOTE: libNeuroML is not a good name for this, given that packages such as libSBML and the developing Python based libNeuroML concentrate on providing an API for reading, writing and validating files.

A standalone Java package with the features below will be maintained, but will probably be renamed in future.

libNeuroML is a package in Java which extends the basic LEMS Reference Implementation with a number of neuroscience specific features, most notably, it includes the core NeuroML 2 ComponentType definitions. libNeuroML also features pluggable extensions for importing various model description formats into equivalent LEMS descriptions, and export modules for generating native scripts in various formats which can be used for more efficient simulations than the LRI. 
</div>
