			<div class="overflowcontent">
	<h1>Submit a New Model here</h1>
<p>
                        Fields marked * are to be filled mandatorily.</p>
                <p>

<table class="collapsible alt-row-colors sm-padding" width="100%">
<tr>
<td style="border-bottom: 1px solid #ccc; border-top: 1px solid #ccc;" width="45%"> 
</td><td style="border-bottom: 1px solid #ccc; border-top: 1px solid #ccc;" width="55%"> 
</td></tr>
<tr>
<td> First Name*:
</td><td> <input maxlength="120" name="fname" size="25" type="text" />
</td></tr>
<tr>
<td>Last Name:
</td><td> <input maxlength="120" name="lname" size="25" type="text" />
</td></tr>
<tr>
<td> Model Name*:
</td><td> <input maxlength="120" name="mname" size="25" type="text" />
</td></tr>
<tr>
<td> Enter your eMail Address *:
</td><td> <input maxlength="50" name="email" size="25" type="text" />
</td></tr>
<tr>
<td> Model Publication(s) or Citations:
</td><td> <input maxlength="300" name="pubmed" size="60" type="text" />
</td></tr>
<tr>
<td> Instituion:
</td><td> <input maxlength="250" name="instname" size="50" type="text" />
</td></tr>

<tr>
<td> Upload you Model file(s) here:
</td><td><input maxlength="256" name="modelf" size="50" type="text" />
<input name="browse" type="button" value="Browse" />
</td></tr>
<tr>
<td> Please choose Keywords from the following list of avaliable keywords:
</td><td> <select name="keywords" size="6"><option value="k1">Neuron</option><option value="k2">Axon</option><option value="k3">Synapse</option><option value="k4">Dendritic</option><option value="k5">Granule</option><option value="k6">Pyramidal</option><option value="k6">Purkinje</option><option value="k7">Golgi Cell</option></select> <input name="addk" type="button" value="Add &gt;" />
<textarea cols="50" name="akeys" rows="6" style="width: 380px; height: 120px;"></textarea>
</td></tr>
<tr>
<td> Please select the checkbox and fill in the custom keywords with a comma separated list:
</td><td> <input name="okeys" type="checkbox" />Other Keyword(s)
<input maxlength="256" name="otherkesy" size="30" type="text" />
</td></tr>

<tr>
<td> Note(s) or Comment(s):
</td><td> <textarea cols="60" name="notes" rows="10"></textarea>
</td></tr></table>

		<p>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input name="reset" type="reset"/>&nbsp;&nbsp; <input name="save" type="button" value="Save" />&nbsp;&nbsp; <input name="Submit" type="submit" value="Submit Model" /></p>

</div>
