<div>
NineML is being developed as part of the INCF Multiscale Modelling Program, and developments in LEMS and NeuroML 2 have benefitted from discussions within that forum.

libNeuroML can export files containing the equivalent NineML Abstraction Layer & User Layer entities (component/node/network) for a model read in in LEMS (with ComponentType, Component, network, etc.). A limited number of LEMS examples can be exported in this format, try downloading the application and running:

ant testNineML

This export will be updated as the NineML language evolves.
</div>
