<div>

Other Workshops/Collaborations
<br />
    May 19, 2010: A second joint NeuroML and SBML meeting was held at the European Bioinformatics Institute, Hinxton, UK between contributors to both of these initiatives. Discussions centered on the extensions needed in NeuroML version 2.0 to allow access to model elements specified in SBML and other model description languages. Minutes of the meeting are available here and more details of the agenda items can be found here.
<br />
    October 7, 2009: A meeting was held at the European Bioinformatics Institute, Hinxton, UK between contributors to the NeuroML and SBML initiatives to discuss scenarios for creation of models incorporating elements from both modelling languages. Minutes of the meeting are available here.
<br />
    September 7-9, 2008: Padraig Gleeson and Sharon Crook conducted a demo of NeuroML at the 1st Congress of the International Neuroinformatics 

</div>
