<div class="overflowcontent">


<h1>Other Workshops/Collaborations</h1>

<table class="collapsible alt-row-colors sm-padding" width="100%">
<tr>
<th colspan="4"> <i>Other Development Workshops/Events</i>
</th></tr>
<tr>
<td style="border-bottom: 1px solid #ccc; border-top: 1px solid #ccc;" width="15%"> <b>Date(s)</b>
</td><td style="border-bottom: 1px solid #ccc; border-top: 1px solid #ccc;" width="20%"> <b>Events</b>
</td><td style="border-bottom: 1px solid #ccc; border-top: 1px solid #ccc;" width="30%"> <b>Location</b>
</td><td style="border-bottom: 1px solid #ccc; border-top: 1px solid #ccc;" width="40%"> <b>Abstract</b>
</td></tr>

<tr>
<td> June 17, 2010
</td><td> <a href="http://www.ploscompbiol.org/article/info%3Adoi%2F10.1371%2Fjournal.pcbi.1000815" title="Paper published on NeuroML in PLoS">Publication on NeuroML</a>
</td><td> <a href="http://www.ploscompbiol.org/article/info%3Adoi%2F10.1371%2Fjournal.pcbi.1000815" title="NeuroML: A Language for Describing Data Driven Models of Neurons and Networks with a High Degree of Biological Detail, P Gleeson, S Crook, RC Cannon, ML Hines, GO Billings, M Farinella, TM Morse, AP Davison,S Ray, US Bhalla, SR Barnes, YD Dimitrova,RA Silver">PLoS Computational Biology</a>
</td><td>A paper describing the latest stable version of NeuroML has been published in PLoS Computational Biology: <a href="http://www.ploscompbiol.org/article/info%3Adoi%2F10.1371%2Fjournal.pcbi.1000815"<b>NeuroML: A Language for Describing Data Driven Models of Neurons and Networks with a High Degree of Biological Detail, P Gleeson, S Crook, RC Cannon, ML Hines, GO Billings, M Farinella, TM Morse, AP Davison,S Ray, US Bhalla, SR Barnes, YD Dimitrova,RA Silver</b></a>.It describes in detail the structure of version 1.x (Levels 1-3,MorphML, ChannelML, NetworkML), includes a detailed discussion of the elements present at each level along with example NeuroML code (see the <a href="http://www.ploscompbiol.org/article/fetchSingleRepresentation.action?uri=info:doi/10.1371/journal.pcbi.1000815.s001">supporting text</a>of the paper), outlines current simulator support,and presents a number of new cell and network models which have recently been converted to the format. These new models, including a morphologically detailed CA1 pyramidal cell and a number of cells from the Traub et al. 2005 thalamocortical network model are available here: <a href="http:///models">http:///models</a>.
</td></tr>

<tr>
<td> May 19, 2010
</td><td> <a href="NeuroMLSBML_May2010.pdf" title="Second Joint meeting">Second NeuroML and SBML meeting</a>
</td><td> <a href="http://www.ebi.ac.uk">European Bioinformatics Institute</a>, Hinxton, UK
</td><td>The Contributors to both of these initiatives discussed on the extensions needed in NeuroML version 2.0 to allow access to model elements specified in SBML and other model description languages.More details of the agenda items can be found  <a href="http://sbml.org/Events/Other_Events/SBML-NeuroML_interfaces_mini-workshop_2010">here</a> for NeuroML.
</td></tr>

<tr>
<td> October 7, 2009
</td><td> <a href="NeuroMLSBML_HinxtonOct09.pdf" title="First Joint Meeting">First NeuroML and SBML meeting</a>
</td><td> <a href="http://www.ebi.ac.uk">European Bioinformatics Institute</a>, Hinxton, UK
</td><td> First meeting between contributors to the <b>NeuroML and SBML</b> initiatives to discuss scenarios for creation of models incorporating elements from both modelling languages.
</td></tr>

<tr>
<td> September 7-9, 2008
</td><td> First NeuroML Demo
</td><td> Stockholm, Sweden.
</td><td> Padraig Gleeson and Sharon Crook conducted a demo of NeuroML at the <b>1st Congress of the <a href="http://www.incf.org">International Neuroinformatics Coordinating Facility</a></b> on <a href="http://www.neuroinformatics2008.org">Neuroinformatics</a>
</td></tr>
</td></tr>

<tr>
<td> 2008
</td><td> <a href="CNS_workshop" title="Workshop on Interoperability of Software for Computational and Experimental Neuroscience">CNS Workshop</a> 
</td><td> Portland, Oregon
</td><td> Padraig Gleeson and Sharon Crook moderated a workshop on <a href="CNS_workshop">"Interoperability of Software for Computational and Experimental Neuroscience"</a> at the <b>2008 Computational Neuroscience Meeting</b>.
</td></tr></table>
<br>
<br>

<p><a href="acknowledgments.php">Funding for the NeuroML initiative</a> has been received from a number of sources:</p>
</div>
