<div>
Presentations

Poster: Sharon Crook, Padraig Gleeson, R. Angus Silver (2007) NetworkML: Level 3 of the NeuroML Standards for Multiscale Model Specification and Exchange.

A number of presentations on NeuroML v2.0 and related initiatives can be found on the page for the minutes of the third NeuroML Development Workshop.
</div>
